In [1]:
print('hello')

hello

here ypu can write notes

In [2]:
print('new')

new

# Enter a number from user and check, it is prime or not!

In [24]:
num = int(input("Enter a number: "))

# define a flag variable
flag = 0

# prime numbers are greater than 1
#if num > 1:
    # check for factors
for i in range(2, num):
    if (num % i) == 0:
        flag = 1
        break

# check if flag is True
if flag == 1:
    print(num, "is not a prime number")
else:
    print(num, "is a prime number")

Enter a number: 100031
100031 is not a prime number

In [1]:
#Palindrome

num = (input("Enter a Sequence: "))
x = num[::-1]
if x==num:
    print('palindrome')
else:
    print('Not palindrome')

Enter a Sequence: madam
palindrome

In [3]:
# Factorial

def fact(a):
    if a==1:
        return a
    else:
        return a*fact(a-1)
print(fact(5))

120

In [5]:
# palindrome using for loop

number=input("Enter any number:")
i=0
for i in range(len(number)):
    if number[i]!=number[i-1]:
        print('number is not palindrome')
        break
    else:
        print('number is palindrome')
        break

Enter any number:12321
number is palindrome

In [7]:
#Fibonacci Series

a = int(input("Enter first number: "))
b = int(input("Enter first number: "))
n = int(input("Enter the number of elements: "))
print(a,b, end=" ")
while n-2:
    c = a+b
    a = b
    b = c
    print(c, end=" ")
    n = n-1

Enter first number: 1
Enter first number: 2
Enter the number of elements: 6
1 2 3 5 8 13

In [2]:
# Armstrong

num = int(input("Enter a number: "))
s = 0
temp = num
while temp > 0:
    c = temp%10
    s+=c**3
    temp//= 10
if num == s:
    print("Armstrong")
else:
    print("Number is not Armstrong")

Enter a number: 153
Armstrong

In [29]:
# Prime Number

number = int(input("Enter a number to check: "))
for i in range(i+1, number):
    if number%i==0:
        print("Not a prime number")
    else:
        print("Prime number")
    break

Enter a number to check: 23
Prime number

In [30]:
# Calculator

def add(a,b):
    return a+b

def sub (a,b):
    return a-b

def mul(a,b):
    return a*b

def divide(a,b):
    return a/b

def si(p,r,t):
    return (p*r*t)/100

def ci (P,R,T):
    return P*pow((1+R/100),T)

def sqr(num):
    return num**2

def st(num):
    return num**0.5

print(add(10,2))

12

In [16]:
#Right Start Pattern Program

rows = int(input("Enter the number of rows: "))  
for i in range(0, rows):  
    for j in range(0, i + 1):  
        print("*", end=' ')   
    print(" ")  
for i in range(rows + 1, 0, -1):  
    for j in range(0, i - 1):  
        print("*", end=' ')  
    print(" ")

Enter the number of rows: 8
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [18]:
# Inverted Half Pyramid Number Pattern

rows = int(input("Enter the number or rows: "))
for i in range(rows, 0, -1):

    for j in range(0, i + 1):

        print(j, end=" ")

    print(" ")

Enter the number or rows: 5
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [2]:
#Pyramid of Horizontal Tables

rows = int(input("Enter the number or rows: "))
for i in range(0, rows):

    for j in range(0, i + 1):

        print(i * j, end=" ")

    print(" ")

Enter the number or rows: 6
0
0 1
0 2 4
0 3 6 9
0 4 8 12 16
0 5 10 15 20 25

In [9]:
# Count Total Even and Odd Numbers in a list

a = []
size = int(input("Enter how many elements you want to enter: "))
for i in range(size):
    val = int(input("Enter Number: "))
    a.append(val)
    even = 0
    odd = 0
for i in range(size):
    if(a[i]%2==0):
        even = even+1
    else:
        odd = odd+1
print("Total Even Numbers: ", even)
print("Total Odd Numbers: ", odd)

Enter how many elements you want to enter: 6
Enter Number: 3
Enter Number: 5
Enter Number: 6
Enter Number: 7
Enter Number: 9
Enter Number: 11
Total Even Numbers:  1
Total Odd Numbers:  5

In [15]:
# Find a Particular number in a list

a = []
size = int(input("Enter the size of List: "))
for i in range(size):
    val = int(input("Enter Number: "))
    a.append(val)
number = int(input("Enter a number to search: "))
flag = 0
for i in range(size):
    if a[i]==number:
        flag = 1
        pos = i+1
        break
if flag==1:
    print("Number is fount at: " ,pos, " position")
else:
    print("Element not found")

Enter the size of List: 5
Enter Number: 2
Enter Number: 4
Enter Number: 6
Enter Number: 8
Enter Number: 5
Enter a number to search: 6
Number is fount at:  3  position

In [1]:
# Count Frequancy of a Number

a = []
size = int(input("Enter the size of list: "))
for i in range(size):
    val = int(input("Enter values: "))
    a.append(val)
number = int(input("Enter a number to count frequency: "))
count = 0
for i in range(size):
    if(a[i]==number):
        count = count+1
print("total frequency of number is: ",count)

Enter the size of list: 5
Enter values: 2
Enter values: 55
Enter values: 6
Enter values: 2
Enter values: 1
Enter a number to count frequency: 1
total frequency of number is:  1

# 1. Find max no. in a list

In [4]:
a = []
size = int(input("Enter the size of List: "))
for i in range(size):
    val = int(input("Enter Values: "))
    a.append(val)
max = a[0]
for i in range(size):
    if(a[i]>max):
        max = a[i]
print("Maximum number is: ",max)

Enter the size of List: 5
Enter Values: 1
Enter Values: 3
Enter Values: 19
Enter Values: 9
Enter Values: 10
Maximum number is:  19

# 2. Find min no. in a list

In [8]:
a = []
size = int(input("Enter the size of List: "))
for i in range(size):
    val = int(input("Enter Values: "))
    a.append(val)
min = a[0]
for i in range(size):
    if(a[i]<min):
        min = a[i]
print("Minimum number is: ",min)

Enter the size of List: 6
Enter Values: 30
Enter Values: 57
Enter Values: 34
Enter Values: 1
Enter Values: 67
Enter Values: 39
Minimum number is:  1

# Printing stars in opposite Pyramid shape

In [ ]:
n = int(input("Enter Number of rows: "))
for i in range(n):
    for j in range(i):
        print(" ",end="")
    for j in range(2*(n-i)-1):
        print("*",end="")
    print("")

In [1]:
n = int(input("Enter the number of rows: "))
i = 1
while n > 0:
    b = 1
    while b < i:
        print("_",end="")
        b = b+1
    j = 1
    while j<=(n * 2)-i:
        print("*",end="")
        j = j+1
    print("")
    n = n-1
    i = i+1

Enter the number of rows: 5
*********
_******
__***
___
____

# 1. Find sum of digits of a given number:

In [2]:
num = int(input("Enter a numer: "))
sum = 0
while num>0:
    sum = sum+num%10
    num = num//10
print("Sum of digits= ",sum)

Enter a numer: 5555
Sum of digits=  20

# 2. Find sum of square of digits of a given number:

In [5]:
num = int(input("Enter a numer: "))
sum = 0
while num>0:
    sum = sum+(num%10)*(num%10)
    num = num//10
print("Sum of square of digits= ",sum)

Enter a numer: 123
Sum of square of digits=  14

# 3. Find product of digits of a given number:

In [ ]:
num = int(input("Enter a numer: "))
prod = 1
while num>0:
    prod = prod*num%10
    num = num//10
print("Product of digits= ",prod)

# Program to find reverse value of a given Number

In [ ]:
i = int(input("Enter a number: "))
rev = 0
while(i > 0):
    rev = (rev*10) + i%10
    i = i//10
print("Reverse of the number= ",rev)

In [1]:
#Finding a particular Number

a = []
size = int(input("Enter the list size: "))
for i in range(size):
    val = int(input("Enter values: "))
    a.append(val)
number = int(input('Enter a number to find: '))
flag = 0
for i in range(size):
    if a[i] == number:
        flag = 1
        pos = i+1
        break
if flag == 1:
    print("Number is found at",pos,"position")
else:
    print("Number is not available")

Enter the list size: 5
Enter values: 1
Enter values: 2
Enter values: 3
Enter values: 4
Enter values: 5
Enter a number to find: 3
Number is found at 3 position

# 1. Program to check Entered number is perfect or not!

In [3]:
num = int(input("Enter a number: "))
result = 0
for i in range(1, num):
    if num%2 == 0:
        result = result+1
if result == num:
    print(num, "is perfect number")
else:
    print(num, "is not perfect number")

Enter a number: 6
6 is not perfect number

# 2. Program to print perfect numbers in given range!

In [14]:
lower = int(input("Enter lower limit: "))
upper = int(input("Enter upper limit: "))
print("Total perfect numbers between",lower,"and ",upper," are:")
for num in range(lower,upper+1):
    result = 0
    for i in range(1,num):
        if (num%i) == 0:
            result = result+i
    if (num == result):
        print(num,end=" ")

Enter lower limit: 1
Enter upper limit: 30
Total perfect numbers between 1 and  30  are:
6 28

# 3. Program to reverse a string using for loop!

In [18]:
def reverse(string):
    reversed_string = ""
    for i in string:
        reversed_string = i+reversed_string
    print("Reversed String is: ",reversed_string)
string = input("Enter a string:")
print("Entered string is: ",string)
reverse(string)

Enter a string:abc
Entered string is:  abc
Reversed String is:  cba

In [24]:
class MayaVati:
    def m1(self):
        print("I am Mayavati...")

class Kunal(MayaVati):
    def m2(self):
        #self.m1()
        print("I am Kunal (Maya's husband)")

class Bro(MayaVati):
    def m3(self):
        #self.m1()
        print("I am Kunal's brother")

class Sis(Kunal,Bro):
    def m4(self):
#         self.m2()
#         self.m3()
        print("I am Maya's sister")

        # self.m1()
        # self.m2()
        # self.m3()
        # self.m4()

obj = Sis()
obj.m1()
obj.m2()
obj.m3()
obj.m4()

I am Mayavati...
I am Kunal (Maya's husband)
I am Kunal's brother
I am Maya's sister

# 2. Sorting list in ascending order!

In [26]:
list1 = [1,5,3,5,2,7,8,9]
i = 0
print("Original list is: ",list1)
for i in range(i,len(list1)):
    for j in range(i+1,len(list1)):
        if (list1[i]>list1[j]):
            temp = list1[i]
            list1[i] = list1[j]
            list1[j] = temp
print("Sorted list is:",list1)

Original list is:  [1, 5, 3, 5, 2, 7, 8, 9]
Sorted list is: [1, 2, 3, 5, 5, 7, 8, 9]

# 3. Sorting list in descending order!Â¶

In [25]:
list2 = [2,4,1,5,6,3,9,8]
i = 0
print("Original list is:",list2)
for i in range(i,len(list2)):
    for j in range(i+1,len(list2)):
        if(list2[i]<list2[j]):
            temp = list2[i]
            list2[i] = list2[j]
            list2[j] = temp
print("Sorted list is: ",list2)

Original list is: [2, 4, 1, 5, 6, 3, 9, 8]
Sorted list is:  [9, 8, 6, 5, 4, 3, 2, 1]

In [38]:
def sorting(string):
    temp = string.split()
    temp.sort()
    return temp

print(sorting("1 6 -2 8 5"))

['-2', '1', '5', '6', '8']

In [50]:
num = int(input("Enter a number: "))
fact = 1
for i in range(1,num+1):
    fact = fact*i
print(fact)

Enter a number: 5
120

# 1. Program to swap first and last element of a list!

In [54]:
mylist = [12,13,35,10,20,30,40]
print("List before swapping: ",mylist)
size = len(mylist)
temp = mylist[0]
mylist[0] = mylist[size-1]
mylist[size-1] = temp
print("List after swapping: ",mylist)

List before swapping:  [12, 13, 35, 10, 20, 30, 40]
List after swapping:  [40, 13, 35, 10, 20, 30, 12]

# 2. Program to swap any two elements of a list!

In [59]:
mylist = [1,2,3,4,5,6]
print("List before swaping: ",mylist)
pos1 = 2
pos2 = 4
mylist[pos1],mylist[pos2] = mylist[pos2],mylist[pos1]
# mylist[pos2] = mylist[pos1]
print("List after swaping: ",mylist)

List before swaping:  [1, 2, 3, 4, 5, 6]
List after swaping:  [1, 2, 5, 4, 3, 6]

# 3. Program to remove nth occurance of the word from a list!

In [8]:
mylist = ["apple","banana","apple"]
print("Original list is: ",mylist)
n = 2
word = "apple"
count = 0
for i in range(0,len(mylist)):
    if (mylist[i] == word):
        count = count+1
        if count == n:
            del mylist[i]
print("Updated list is: ",mylist)

Original list is:  ['apple', 'banana', 'apple']
Updated list is:  ['apple', 'banana']

# 1. Program to find sum of all elements in a list!

In [10]:
mylist = [1,2,3,4,5,6]
total = 0

# for i in mylist:
#     total = total+i
    
for i in range(0,len(mylist)):
    total = total+mylist[i]
print("Sum of all elements: ",total)

Sum of all elements:  21

# 2. Program to multiply all numbers in a list!

In [ ]:
# mylist = [2,3,4,5]
total = 1
for i in mylist:
    total = total * i
print("Multiplication of all numbers is: ",total)

# 3. Program to find out GCD of two positive numbers!

In [1]:
def findGCD(a,b):
    if b == 0:
        return a
    else:
        return findGCD(b,a%b)
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
print(findGCD(num1,num2))

Enter first number: 2
Enter second number: 18
2

# 1. Function to print next Prime!

In [13]:
def nextPrime(n):
    while True:
        n+=1
        for i in range(2,n):
            if n%i == 0:
                break
        else:
            return n
n = int(input("Enter your number: "))
print("Next prime of",n,"is:")
print(nextPrime(n))

Enter your number: 20
Next prime of 20 is:
23

# 2. Program to arrange three words in Dictionary order!

In [22]:
print("Enter three city names: ")
a,b,c = input(),input(),input()
print("")
if a<b<c:
    print(a,b,c)
elif a<c<b:
    print(a,c,b)
elif b<a<c:
    print(b,a,c)
elif b<c<a:
    print(b,c,a)
elif c<a<b:
    print(c,a,b)
else:
    print(c,b,a)

Enter three city names:
Noida
Delhi
Pune

Delhi Noida Pune

# 3. Program to arrange three words in Dictionary order using min() !

In [1]:
print("Enter three city names: ")
a,b,c = input(),input(),input()
x = min(a,b,c)
print("")
print(x)
if x == a:
    print(min(b,c), max(b,c))
elif x == b:
    print(min(a,c), max(a,c))
else:
    print(min(a,b), max(a,b))

Enter three city names:

KeyboardInterrupt: Interrupted by user

# Armstrong numbers in a given range!

In [9]:
print("Armstrong numbers between 1 and 1000 are:")
for i in range(1,1001):
    num = i
    result = 0
    n = len(str(i))
    while (i!=0):
        digit = i%10
        result = result + digit**n
        i = i//10
    if (num == result):
        print(num)

Armstrong numbers between 1 and 1000 are:
1
2
3
4
5
6
7
8
9
153
370
371
407

# 2. Printing Hollow Right Triangle Star Pattern

In [1]:
for row in range(0,5):
    for col in range(5):
        if col==0 or row==4 or row==col:
            print("*",end="")
        else:
            print(end=" ")
    print("")

*
**
* *
*  *
*****

# 1. Printing Stars in Hollow Equilateral Triangle Shape

In [6]:
for row in range(1, 5):
    for col in range(1, 8):
        if row == 4 or row+col == 5 or col-row == 3:
            print("*",end="")
        else:
            print(end=" ")
    print("")

   *
  * *
 *   *
*******

# 2. Same pattern program with user's input!

In [1]:
n = int(input("Enter number of rows: "))
for row in range(1, n+1):
    for col in range(1, 2*n):
        if row == n or row+col == n+1 or col-row == n-1:
            print("*",end="")
        else:
            print(end=" ")
    print("")

Enter number of rows: 7
      *
     * *
    *   *
   *     *
  *       *
 *         *
*************

# 1. Printing Stars in Hollow Diamond Shape for 5 rows & 5 cols!

In [12]:
for row in range(5):
    for col in range(5):
        if row+col == 2 or col-row == 2 or row-col == 2 or row+col == 6:
            print("*",end="")
        else:
            print(end=" ")
    print()

  *
 * *
*   *
 * *
  *

# 2 . Printing Stars in Hollow Diamond Shape for 7 rows & 7 cols!

In [1]:
for row in range(7):
    for col in range(7):
        if row+col == 3 or col-row == 3 or row-col == 3 or row+col == 9:
            print("*",end="")
        else:
            print(end=" ")
    print("")

   *
  * *
 *   *
*     *
 *   *
  * *
   *

# 1. Updating Dictionary using list!

In [3]:
d1 = {1:'one',2:'two',3:'three'}
l1 = [4,'four']
d1.update([l1])
print(d1)

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

# 2. Updating Dictionary using tuple!

In [ ]:
d1 = {1:'one',2:'two',3:'three'}
t1 = (4,'four')
d1.update(t1)
print(d1)