In [10]:
a = ('M','i','s','s','i','s','s','i','p','p','i')

In [15]:
print(type(a))

<class 'set'>

In [ ]:
print(a)

In [ ]:
a = ('M','i','s','s','i','s','s','i','p','p','i')

In [ ]:
print(type(a))

In [ ]:
num = (input("Enter a Sequence: "))
x = num[::-1]
if x==num:
    print('palindrome')
else:
    print('Not palindrome')
#print(pal('mjhdfjsd'))

In [ ]:
# Factorial

def fact(a):
    if a==1:
        return a
    else:
        return a*fact(a-1)
print(fact(5))

In [ ]:
# palindrome using for loop

number=input("Enter any number:")
i=0
for i in range(len(number)):
    if number[i]!=number[i-1]:
        print('number is not palindrome')
        break
    else:
        print('number is palindrome')
        break

In [ ]:
print("printing current and previous number and their sum in a range(10)")
previous_num=0
for i in range(1,11):
     x_sum=previous_num+i
     print("current number",i,"previous_number",previous_num,"sum:",previous_num+i)
     previous_num=i

In [ ]:
a = int(input("Enter first number: "))
b = int(input("Enter first number: "))
n = int(input("Enter the number of elements: "))
print(a,b, end=" ")
while n-2:
    c = a+b
    a = b
    b = c
    print(c, end=" ")
    n = n-1

# Armstrong

In [ ]:
num = int(input("Enter a number: "))
s = 0
temp = num
while temp > 0:
    c = temp%10
    s+ = c**3
    temp//= 10
if num == s:
    print("Armstrong")
else:
    print("Number is not Armstrong")

In [ ]:
num = int(input("Enter a number: "))
s = 0
temp = num
while temp > 0:
    c = temp%10
    s+ = c**3
    temp//= 10
if num == s:
    print("Armstrong")
else:
    print("Number is not Armstrong")

In [2]:
n = []
print(type(n))

<class 'list'>

In [2]:
p = {1}

In [4]:
print(type(p))

<class 'set'>

In [5]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [8]:
print(type(mylist))
len(mylist)

<class 'list'>

4

In [17]:
for (a,b) in (mylist):
    print(a,b)
    #print(b)

1 2
3 4
5 6
7 8

In [23]:
celcius = [0,10,20,30,40]
fahrenheit = [((9/5)*temp +32)for temp in celcius]
print(fahrenheit)

[32.0, 50.0, 68.0, 86.0, 104.0]

In [22]:
fahrenheit

NameError: name 'fahrenheit' is not defined

In [24]:
fahrenheit = []
for temp in celcius:
    fahrenheit.append(( (9/5)*temp + 32))

In [26]:
fahrenheit

[32.0, 50.0, 68.0, 86.0, 104.0]

In [27]:
results = [x if x%2==0 else 'ODD' for x in range(0,11)]

In [29]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [5]:
mylist = []
for x in (2,4,6):
    for y in (100,200,300):
        mylist.append(x*y)

In [7]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [8]:
st = 'Print only the words that starts with s in this sentence'

In [11]:
for word in st.split():
    word
    print(word)

Print
only
the
words
that
starts
with
s
in
this
sentence

In [15]:
for word in st.split():
    if word[0]== 's':
        print(word)

starts
s
sentence

In [17]:
st = 'Sam Print only the words that starts with s in this sentence'
for word in st.split():
    if word[0].lower() == 's':
        print(word)

Sam
starts
s
sentence

In [19]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [22]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

# list of all numbers bbetween 1-50, that are divisible by 3

In [33]:
[x for x in range(1,51) if x%3 == 0]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

# Gon throught the string below and if the length of a word is even print "even!"

In [36]:
st = 'Print every word in this sentence that has an even number of letters'

In [41]:
for word in st.split():
    if len(word) % 2 == 0:
        print(word+ ' is even!')

word is even!
in is even!
this is even!
sentence is even!
that is even!
an is even!
even is even!
number is even!
of is even!

In [43]:
for num in range(1,101):
    if num%3 == 0 and num%5 == 0:
        print('FizzBuzz')
    elif num%3 == 0:
        print('Fizz')
    elif num%5 == 0:
        print('Buzz')
    else:
        print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [44]:
st = 'Create the list of first letters of every word in this string'

In [1]:
[word[0] for word in st.split()]

NameError: name 'st' is not defined

In [1]:
n = 1234
sq = 0
cb = 0
for i in range(n):
    if n%2 == 0:
        sq = sq + (n%10) * (n%10)
        n = n//10
    else:
        cb = cb + (n%10) * (n%10)* (n%10)
        n = n//10
print(sq)
print(cb)

20
28

In [2]:
a = 1
b = 1
print(id(a))
print(id(b))

140722166114096
140722166114096

In [9]:
string = "The best of both worlds";  
count = 0;  
   
#Counts each character except space  
for i in range(0, len(string)):  
    if(string[i] != ' '):  
        count = count + 1;  
   
#Displays the total number of characters present in the given string  
print("Total number of characters in a string: ", count);

Total number of characters in a string:  18

In [42]:
# def zerolistmaker(n):
#     listofzeros = [0] * n
#     return listofzeros
# zerolistmaker(5)
n = 5
l = [0]*n
print(l)

[0, 0, 0, 0, 0]

In [25]:
# def Sorting(lst):
#     lst.sort(key=len)
#     return lst
      
# # Driver code
# lst = ['aa', 'a', 'aaa', 'ababa']
# print(Sorting(lst))
lst = ['aa', 'a', 'aaa', 'ababa']
lst.sort(key=len)
print(lst)

['a', 'aa', 'aaa', 'ababa']

In [30]:

# Python program to convert a list to string
    
# Function to convert  
# def listToString(s): 
s = ['Geeks', 'for', 'Geeks']    
    # initialize an empty string
str1 = "" 
    
    # traverse in the string  
for i in s: 
    str1 += i  
    
    # return string  
#     return str1 
        
        
# Driver code    

print(str1)

GeeksforGeeks

In [1]:
for i in range(10):
    for j in range(i+1):
        print("*",end="")
    print(end=" ")

* ** *** **** ***** ****** ******* ******** ********* **********

In [4]:
for num in range(10, 14):
   for i in range(2, num):
       if num%i == 1:
          print(num)
          break

10
11
12
13

In [6]:
x = 0
a = 5
b = 5
if a > 0:
    if b < 0: 
        x = x + 5 
    elif a > 5:
        x = x + 4
    else:
        x = x + 3
else:
    x = x + 2
print(x)

3

In [8]:
aList = [4, 8, 12, 16]
aList[1:4] = [20, 24, 28]
print(aList)

[4, 20, 24, 28]

In [11]:
l = [None] * 10
print(len(l))

10

In [14]:
aList = ["PYnative", [4, 8, 12, 16]]
print(aList[0][1])    
print(aList[1][3])

Y
16

In [16]:
sampleList = [10, 20, 30, 40, 50]
print(sampleList[-2])
print(sampleList[-4:-1])

40
[20, 30, 40]

In [18]:
aList = [1, 2, 3, 4, 5, 6, 7]
pow2 =  [2 * x for x in aList]
print(pow2)

[2, 4, 6, 8, 10, 12, 14]

In [27]:
l = "hello"
print(l[1::2])

el

In [34]:
sampleList = [10, 20, 30, 40] 
del sampleList[0::3]
print(sampleList)

[20, 30]

In [41]:
def FirstTenElements():
    yield 1
    yield 2
    yield 3
    yield 4
    yield 5
    yield 6
print(type(FirstTenElements))
f = FirstTenElements()
print(f)
print(f.__next__())
print(next(f))

<class 'function'>
<generator object FirstTenElements at 0x0000024043DB9B30>
1
2