In [1]:
0.1+0.2-0.3

5.551115123125783e-17

In [2]:
rows = 6;
for num in range(rows):
	for i in range(num):
		print(num, end="")
	print("")

1
22
333
4444
55555

In [3]:
0.1+0.2

0.30000000000000004

In [4]:
0.3-0.3000000

0.0

In [5]:
a = 10

In [6]:
a

10

In [7]:
a = a+a

In [8]:
a

20

In [9]:
a = a+a

In [10]:
a

40

In [11]:
a

40

In [12]:
"hello"

'hello'

In [13]:
'hello'

'hello'

In [15]:
mystring = "abcdefgh"

mystring

In [21]:
mystring[::2]

'aceg'

In [22]:
mystring[2:5:2]

'ce'

In [34]:
n = int(input("enter a number"))
for i in range(n):
    for j in range(i+1):
        print(end="*")
    print("")

enter a number5
*
**
***
****
*****

In [35]:
n = int(input("Enter a Number "))
for row in range(n):
    for column in range(row+1):
        print(column+1, end=" ")
    print("")

Enter a Number 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [36]:
n = int(input("Enter Number of Rows Needed "))
for i in range(n):
    for j in range(i+1):
        print(n-i, end=" ")
    print("")

Enter Number of Rows Needed 6
6
5 5
4 4 4
3 3 3 3
2 2 2 2 2
1 1 1 1 1 1

In [1]:
mystring

NameError: name 'mystring' is not defined

In [2]:
mystring = "abcdefghijk"

In [3]:
mystring

'abcdefghijk'

In [6]:
mystring[::-1]

'kjihgfedcba'

In [7]:
name = "Sam"

In [9]:
# name[0] = "P"

In [10]:
last_letters = name[1:]

In [12]:
last_letters

'am'

In [14]:
'P' + last_letters

'Pam'

In [19]:
x = "Hello World"

In [21]:
x + " it's beautiful outside"

"Hello World it's beautiful outside"

In [22]:
name = name+last_letters

In [23]:
name

'Samam'

In [28]:
#last_letters = 'P'+last_letters

In [29]:
last_letters

'PamP'

In [31]:
x = x + "its beautiful outside"

In [30]:
x

'Hello World'

In [36]:
print('this is a string {}'.format('INSERTED'))

this is a string INSERTED

In [38]:
print('The {2} {1} {0}'.format('fox', 'brown', 'quick'))

The quick brown fox

In [39]:
print('The {q} {b} {f}'.format(f='fox', b='brown', q='quick'))

The quick brown fox

In [40]:
result = 100/777

In [41]:
print(result)

0.1287001287001287

In [48]:
print('The result is {}'.format(result))

The result is 0.1287001287001287

In [50]:
print('The result is {r:1.3f}'.format(r=result))

The result is 0.129

In [53]:
name = 'Jose'

In [54]:
print(f'Hello, his name is {name}')

Hello, his name is Jose

In [55]:
name = "same"
age = 38

In [57]:
print(f'{name} is {age} years old')

same is 38 years old

In [58]:
x, y = 'ram', 'shyam'

In [62]:
print("he is %s and he is %s :"%(x,y))

he is ram and he is shyam :

In [63]:
x = "Python"

In [65]:
print(' {} rules'.format(x))

 Python rules

In [67]:
#program to check current age (in days)!

import datetime as dt
birthday = dt.datetime(1998,8,12)
time_alive = dt.datetime.today() - birthday
print(time_alive.days)

8443

In [75]:
n = int(input("Please Enter the Number of Rows: "))
k = ord("A")
for i in range (n):
    for j in range(i+1):
        print(chr(k), end=" ")
        k=k+1
    print("")

Please Enter the Number of Rows: 5
A
B C
D E F
G H I J
K L M N O

In [77]:
n = int(input("Enter the number of rows: "))
for i in range(n):
    k = ord("A")+i
    for j in range (i+1):
        print(chr(k), end=" ")
        k = k+1
    print("")

Enter the number of rows: 5
A
B C
C D E
D E F G
E F G H I

In [81]:
n = int(input("Enter the number of rows: "))
for i in range(n):
    for j in range (n):
        print('*', end=" ")
    print("")

Enter the number of rows: 5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [88]:
n = 5
for i in range(n):
    for j in range(i, n):
        print(' ',end="")
    for j in range(i+1):
        print('*',end="")
    print("")

     *
    **
   ***
  ****
 *****

In [1]:
n = int(input("Enter the number of rows: "))
i = 1
while n > 0:
    b = 1
    while b < i:
        print(" ",end="")
        b = b+1
    j = 1
    while j<=(n * 2)-i:
        print("*",end="")
        j = j+1
    print(" ")
    n = n-1
    i = i+1

Enter the number of rows: 5
*********
 ******
  ***

# 1. Program to find reverse value of a given Number

In [3]:
i = int(input("Enter a number: "))
rev = 0
while(i > 0):
    rev = (rev*10) + i%10
    i = i//10
print("Reverse of the number= ",rev)

Enter a number: 567
Reverse of the number=  765

# 2. Program to check whether the number is Prime or not!

In [12]:
num = int(input("Enter your number: "))
count = 0
i = 1
while i <= num:
    if num%i == 0:
        count = count+1
    i = i+1
if(count == 2):
    print("Prime Number")
else:
    print("Not a Prime Number")

Enter your number: 41
Prime Number

# 3. Program to find all prime numbers in the given range!

In [14]:
start = int(input("Enter the starting range: "))
end = int(input("Enter the end range: "))
print("Prime numbers in the range",start, "to", end)
for i in range(start, end+1):
    flag = 0
    for j in range(2, i):
        if(i%j == 0):
            flag = 1
            break
    if(flag == 0):
        print(i,end=' ')

Enter the starting range: 10
Enter the end range: 50
Prime numbers in the range 10 to 50
11 13 17 19 23 29 31 37 41 43 47

# 1. Program to find reverse string!

In [64]:
original = input("Enter a String: ")
reverse = ''
for i in range(len(original)-1,-1,-1):
    reverse = reverse+original[i]
print("Reverse of ",original," is ",reverse )

Enter a String: Vivek
Reverse of  Vivek  is  keviV

# 2. Program to check, String is palindrome or not!

In [68]:
original = input("Enter a String: ")
reverse = ''
for i in range(len(original)-1,-1,-1):
    reverse = reverse+original[i]
if original == reverse:
    print('String is Palindrome')
else:
    print('Not Palindrome')

Enter a String: madam
String is Palindrome

# 3. Remove charecters from a string!

In [42]:
original_str = "Hello, ~Sir"
new_str = ''
for char in original_str:
    if char != ',' and char !='~':
        new_str += char
print("original string= ",original_str)
print("New String=",new_str)

original string=  Hello, ~Sir
New String= Hello Sir